@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="content-wrapper main-content clear-fix">
        <h2>List</h2>
        <table class="help-page-table">
            <thead>
                <tr><th>Title</th><th>Description</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="api-name">Swagger 設定</td>
                    <td class="api-documentation">
                        <a href="https://www.tpisoftware.com/tpu/articleDetails/1372" target="_blank">透過 Swagger 自動產生 WebAPI 規格文件</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">Postman 問題排除</td>
                    <td class="api-documentation">
                        <a href="https://blog.csdn.net/linlinxie/article/details/78342749" target="_blank">Postman 無法正常返回结果 Could not get any response</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">Git 參考</td>
                    <td class="api-documentation">
                        <a href="https://gitbook.tw/chapters/using-git/ignore.html" target="_blank">【狀況題】有些檔案我不想放在 Git 裡面…</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">Github 教學</td>
                    <td class="api-documentation">
                        <a href="https://blog.techbridge.cc/2018/01/17/learning-programming-and-coding-with-python-git-and-github-tutorial/" target="_blank">Git 與 Github 版本控制基本指令與操作入門教學</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">IIS 異常處理</td>
                    <td class="api-documentation">
                        <a href="http://howard10335.blogspot.com/2017/01/iishttp-50019-internal-server-error.html" target="_blank">[IIS]架設ASP.NET網站發生HTTP 錯誤 500.19 - Internal Server Error</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">IIS 異常處理</td>
                    <td class="api-documentation">
                        <a href="https://www.itdaan.com/tw/659e5a2be3b1d068d7365771b4624c35" target="_blank">IIS 鎖定是默認設置的 (overrideModeDefault="Deny")問題解決</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">Windows 10 架站問題</td>
                    <td class="api-documentation">
                        <a href="https://support.microsoft.com/zh-tw/help/2623303" target="_blank">如何解決執行 ASP.NET 應用程式時發生【處理常式PageHandlerFactory-Integrated的模組清單中有錯誤的模組】</a>
                    </td>
                </tr>
                <tr>
                    <td class="api-name">Windows 10 防火牆</td>
                    <td class="api-documentation">
                        <a href="https://wiki.mcneel.com/zh-tw/zoo/window7firewall" target="_blank">從 Windows 防火牆開啟 TCP Port 80</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>